    *{
  font-style: Raleway;
}

.big-div{
  padding: 100px 100px;
  background-color: steelblue;
  border-radius: 15px;
  margin-bottom: 15px;
  position: relative;
}

.big-div p{
  position: absolute;
  font-size:20px;
  color: white;
  top:1px;
  right:5px;
}

.slider-container .img1{
  position: absolute ;
  width:400px;
  bottom:-2px;
  left:-13px;
}

.slider-container .img2{
  position: absolute;
  bottom:2px;
}

.slider-container .img3{
 
}

.mini-div{
  
}

.mini-div mini{
  
  
}

.mini-div .img-dock{
  padding: 50px 25px;
  background-color: aliceblue;
  border-radius: 15px;
  position: relative;
  margin-bottom: 5px;
}

.img-dock:hover{
  
}

.scroller{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}



.slider-container {
  background-color: transparent;
  position: absolute;
  width: 80%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
  width:450px;
  bottom:-12px;
  right:10px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  border: none;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 20;
}

.prev-btn {
  left: -10px;
}

.next-btn {
  
  right: -10px;
}


.arrow-icon{
  width: 25px;
}


.arrow-icon:hover{
  
}


.mini-div img-sale{
  background-color: sandybrown;
}


.mini-island{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top:100px;
  margin-bottom: 100px;
}

.island{
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 120px;
  background-color: floralwhite;
  border-radius: 15px;
  align-items: center;
}

.island:hover{
  background-color: antiquewhite;
}

.mini-island p{
  font-size: 12px;
}

.island-img{
  width:70px;
 
}


.scroll{
  display: block;
}


.season-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.season-img{

}

.season-img{
  width:230px;
  height:200px;
  border-radius:15px;
}

.season-txt{
  display: flex;
  flex-direction: column;
  margin-left:15px;
}

.season-txt .head{
  font-size: 20px;
  font-weight: bolder;
}

.season-txt .body{
  font-size: 11px;
}

.season-button{
  padding: 5px 10px;
  background-color: skyblue;
  color:white;
  border-radius: 15px;
  font-size:12px;
  border:none;
}





.flexbox-holder{
  display: flex;
  flex-direction: column;
}

.flexbox1{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  margin-top:20px;
}

.holder-small{
  display: flex;
  flex-direction: column;
  width:150px;
  background-color: beige;
  border-radius: 15px;
}

.small{
    display:flex;
  justify-content: center;
}

.holder-big{
  display: flex;
  flex-direction: column;
  width:300px;
  background-color: lightgrey;
  border-radius: 15px;
}

.big{
  display:flex;
  justify-content: center;
}

.specials-img-1{
  width:150px;
  height:150px;
 
}

.specials-img-2{
  width: 250px;
  height:150px;
 
}

.specials-buttom{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin:0px;
  margin-left:5px;
  margin-right:5px;
}

.img-desc{
  display:flex;
  flex-direction: column;
}

.desc-name{
  margin:0px;
  font-size:13px;
  font-family: sans-serif Raleway;
}

.desc-price{
  margin:5px;
  font-size:11px;
}


.heart-png{
  width:20px;
}



.newsletter{
  display: flex;
  flex-direction: column;
 
}

.newsletter-head{
  
}


.newsletter-and{
  font-size:18px;
  font-weight: bold;
}

.newsletter-grab{
  font-size: 22px;
  font-weight: bold;
}

.newsletter-percent{
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  color:red;
}

.newsletter-off{
  font-size:22px;
}



.newsletter-form{
  
}

.email-form{
  padding-right:40px;
  padding-left:10px;
  padding-top:5px;
  padding-bottom: 5px;
  font-size: 12px;
  border-radius: 15px;
}

.subscribe-button{
  padding: 10px 20px;
  background-color: black;
  color:white;
  border-radius: 25px;
  font-size:15px;
  border:none;
}




.footer{
  display: flex;
  flex-direction: row;
    justify-content: space-around;
}

.footer .brand{
  
}

.in{
  display:flex;
  flex-direction: column;
}


.contact-button{
  padding: 6px 8px;
  background-color: black;
  color:white;
  border-radius: 25px;
  font-size:13px;
  border:none;
}

.footer-head{
  font-size:20px;
  font-weight: bolder;
}

.footer-txt{
  font-size: 12px;
  text-decoration: none;
  color: lightslategray;
}

.links{
  display: flex;
  flex-direction: column;
}


.link {

  margin-bottom: 10px;
  text-decoration: none;
}

.Contacts{
  display: flex;
  flex-direction: column;
}


.contact-txt{
  font-size: 12px;
}


.Customer-Service{
  display: flex;
  flex-direction: column
}

.customer-txt{
   font-size: 14px;
   font-weight: 600px;
}



.uhh-footer{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
}



